.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: 8px 0;
  transform: translate(-50%, -90%);
}

* {
  box-sizing: border-box;
}

h1.a {
  color: #f01010;
  font-size: 60px;
  text-align: center;
  margin-bottom: 100px;
}

h1.b {
  color: #141516cc;
  font-size: 30px;
  text-align: center;
  transform: translate(0px, 30px);
}

div.a {
  background-color: #ffffff;
  height: 100px;
}

h1.c {
  color: #000000;
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

h1.d {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  font-weight: normal;
}

h1.e {
  color: #000000;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0px;
  font-weight: normal;
}

h1.f {
  color: #000000;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: normal;
}

img.a {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 8px;
  transform: translate(-5px, 0px);
  width: 530px;
  height: 200px;
  object-fit: cover;
}

img.b {
  object-fit: cover;
}

form.example input[type="textOne"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.example input[type="textTwo"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
  transform: translate(3px, -8px);
}
.grid-item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(226, 218, 218, 0.8);
  padding: 20px;
  font-size: 25px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 560px;
  text-align: left;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  justify-self: right;
  display: inline-block;
  font-size: 16px;
  height: auto;
  margin: 4px 2px;
  margin-top: 15px;
  cursor: pointer;
}

.button a {
  color: #fff !important;
  vertical-align: top;
}
